# Archivo .gitignore - Especifica archivos y directorios a excluir del control de versiones

# Archivos misceláneos del sistema y editores
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Archivos de configuración de IntelliJ/Android Studio
*.iml
*.ipr
*.iws
.idea/

# Directorio de configuración de VS Code
# El directorio .vscode contiene configuraciones de lanzamiento y tareas
# que pueden querer incluirse en control de versiones, por eso esta línea
# está comentada por defecto.
#.vscode/

# Archivos relacionados con Flutter, Dart y Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Archivos de symbolication para depuración
app.*.symbols

# Archivos relacionados con ofuscación de código
app.*.map.json

# Artefactos de compilación generados por Android Studio
/android/app/debug
/android/app/profile
/android/app/release